body {
    background-image: url(img/sorin-sirbu-84YkIGTkuBI-unsplash.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: black;
    width: 100%;
    height: 550px
}
.about h1{
    color: #FFFFFF;
    font-family: Gza, serif;
    font-size: 3rem;
    font-style: italic;
    text-align: center;
    margin: 0;
    padding: 0;
    padding-top: 2%;
}
.about h2{
    color: #FFFFFF;
    font-family: Gza, serif;
    text-align: center;
    margin: 0;
    padding: 0;
}
.about ul li a{
    writing-mode: vertical-rl;
    text-decoration:none ;
    margin: 0;
    padding: 0;
    color: white;
}
.about ul li{
    list-style: none;
    margin: 0;
    padding: 0;

}
.un{
    font-family: TitilliumText22L serif;
    font-size: 1.5rem;
    color: black;
    position: relative;
    top: 160px;
    left: -30px;
    padding: 0;
    margin: 0;
    transform: rotate(-180deg);
    -moz-transform: rotate(-180deg);
    -webkit-transform: rotate(-180deg);
    -khtml-transform: rotate(-180deg);
    -ms-transform: rotate(-180deg);
}
.deux{
    font-family: TitilliumText22L serif;
    font-size: 1.5rem;
    color: black;
    text-align: left;
    position: relative;
    top: 40px;
    left: 96%;

}
.image-photo{
    float: right;
    margin-right: 130px;
    width: 350px;
    margin-top: -50px;
}
main{
    margin: 0;
    padding: 0;
}
.p1, .p2, .p3{
    font-family: TitilliumText22L, serif;
    font-size: 1.5rem;
    padding: 10px;
    margin-left: 150px;
    width: 700px ;
    color: white;

}
.p1{
    margin-top: 50px;
}
h3{
    font-size: 3rem;
    font-family: Gza, serif;
    font-style: italic;
    padding: 0;
    margin-top: -150px;
    margin-left: 150px;
    color: white;
}
.footer-reseaux-sociaux>a>img,.footer-reseaux-sociaux>a{
    contain: content;
    position: relative;
    width: 30px;
    height: 30px;
    top:10px;
    left:78px;
    margin: 0 1px 0 1px;
    padding: 0;
    text-align: right;
}
