input[type=text], select, textarea {
    position: relative;
    margin-left: 130px;
    width: 40%;
    padding: 12px;
    background-color: white;
    opacity: 50%;
    font-family:Gza, serif ;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    top: -120px;
    margin-bottom: 16px;
    resize: vertical;
}
input[type=email], select, textarea {
    position: relative;
    margin-left: 130px;
    width: 40%;
    padding: 12px;
    background-color: white;
    opacity: 50%;
    font-family:Gza, serif ;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    top: -120px;
    margin-bottom: 16px;
    resize: vertical
}
.gauche form #lname{
    color: #000;
}
input[type=submit] {
    background-color: white;
    font-family: Gza, serif ;
    font-weight: normal;
    color: black;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    position: relative;
    margin-left: 130px;
    top: -110px;
    width: 40%;
}
input[type=submit]:hover {
    background-color: gray;
}
body {
    background-image: url(img/sorin-sirbu-84YkIGTkuBI-unsplash.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: black;
    width: 100%;
    height: 550px
}
.contact h1{
    color: #FFFFFF;
    font-family: Gza, serif;
    font-size: 3rem;
    font-style: italic;
    text-align: center;
    margin: 0;
    padding: 0;
    padding-top: 2%;
}
.contact h2{
    color: #FFFFFF;
    font-family: Gza, serif;
    text-align: center;
    margin: 0;
    padding: 0;
}
.contact ul li a{
    writing-mode: vertical-rl;
    text-decoration:none ;
    margin: 0;
    padding: 0;
    color: white;
}
.contact ul li{
    list-style: none;
    margin: 0;
    padding: 0;
}
.un{
    font-family: TitilliumText22L, serif;
    font-size: 1.5rem;
    color: black;
    position: relative;
    top: 160px;
    left: -30px;
    padding: 0;
    margin: 0;
    transform: rotate(-180deg);
    -moz-transform: rotate(-180deg);
    -webkit-transform: rotate(-180deg);
    -khtml-transform: rotate(-180deg);
    -ms-transform: rotate(-180deg);
}
.deux{
    font-family: TitilliumText22L, serif;
    font-size: 1.5rem;
    color: black;
    text-align: left;
    position: relative;
    top: 50px;
    left: 96%;

}
img.contactezmoi{
    float: right;
    margin-right: 60px;
    width: 550px;
    margin-top: -200px;
}

.footer-reseaux-sociaux a img,.footer-reseaux-sociaux a{
    contain: content;
    position: relative;
    width: 30px;
    height: 30px;
    margin: 0 1px 0 1px;
    padding: 0;
    right: -640px;
    top: 175px;
}
