.accueil h1{
    font-family: Gza, serif;
    font-size: 3rem;
    font-style: italic;
    text-align: center;
    margin: 0;
    padding: 0;
    padding-top: 2%;
    position: absolute; /* postulat de départ */
    top: 35%; left: 50%; /* à 50%/50% du parent référent */
    transform: translate(-45%, -50%); /* décalage de 50% de sa propre taille */

}
.accueil h2{
    font-family: Gza, serif;
    text-align: center;
    margin-top: 0;
    padding-top: 0;
    position: absolute; /* postulat de départ */
    top: 43%; left: 50%; /* à 50%/50% du parent référent */
    transform: translate(-50%, -50%); /* décalage de 50% de sa propre taille */

}
.accueil ul li a{
    writing-mode: vertical-rl;
    text-decoration:none ;
    margin: 0;
    padding: 0;
}
.accueil ul li{
    list-style: none;
    margin: 0;
    padding: 0;
}
.un{
    font-family: TitilliumText22L, serif;
    font-size: 1.5rem;
    color: black;
    position: relative;
    top: 280px;
    left: -30px;
    padding: 0;
    margin: 0;
    transform: rotate(-180deg);
    -moz-transform: rotate(-180deg);
    -webkit-transform: rotate(-180deg);
    -khtml-transform: rotate(-180deg);
    -ms-transform: rotate(-180deg);
}
.deux{
    font-family: TitilliumText22L, serif;
    font-size: 1.5rem;
    color: black;
    text-align: left;
    position: relative;
    top: 160px;
    left: 96%;

}
.ionicon{
    position: relative;
    height: 64px;
    width: 64px;
    left: 47%;
    top: 450px;
    color: darkgray;
}
body {
    background-image: url(img/patrick-hendry-37ZuGYD3JOk-unsplash.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 1920px;
    background-color: black;
    width: 100%;
    height: 500px;
}
.projet1{
    position: relative;
    top:30vw;
    left: 15vw;
    padding-bottom: 5vw;
}
p{
    background: rgba(255, 255, 255, 0.58);
    padding: 1.5% 1% 5% 47%;
    border-radius: 10px;
    width: 20%;
    font-family: TitilliumText22L, serif ;
    font-size: 1.5rem;
    color:white;
    line-height : 1.1;
}
.projet1 img{
    align-items: center;
    width: 40%;
    padding: 40px;
    margin-top: -3%;
    background: rgba(255, 255, 255, 0.31);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(6.6px);
    -webkit-backdrop-filter: blur(6.6px);
    position: absolute;
}
.projet1 h2{
    font-family: TitilliumText22L, serif;
    font-weight: lighter;
    font-size: 3rem;
    color: #FFFFFF;
    padding-top: 30px;
    position: relative;
    left: 48%;
    padding-bottom: -5%;

}

button{
    font-family: TitilliumText22L, serif;
    color: #FFFFFF;
    font-size: 18px;
    width: 15%;
    margin-top: 4%;
    margin-left: -4%;
    padding: 1.5%;
    background: rgba(255, 255, 255, 0.31);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(6.6px);
    -webkit-backdrop-filter: blur(6.6px);
    position: absolute;
}
.camarade{
    color: #FFFFFF;
}

